AIRTABLE_API_KEY =
AIRTABLE_BASE =
CONTENTFUL_MANAGEMENT_TOKEN =
CONTENTFUL_SPACE_ID =
CONTENTFUL_ENVIRONMENT = development
WEBAPP_URL = http://localhost:3000
WEBAPP_DEV_URL = http://localhost:3000
SLACK_MAINTAINER_ID =
SLACK_TOKEN = xoxb-xxxxx-xxxxxxxxx-xxxx
SLACK_REMINDER_CHANNEL_ID = xxxxxxxxx
